@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Press Start 2P';
  src: url(./fonts/Press_Start_2P/PressStart2P-Regular.ttf);
}

body{
  text-align: center;
  background-color:#011F3F;;
}

.App {
  text-align: center;
}

#level-title
{
  font-family: 'Press Start 2P',cursive;
  color: #FEF2BF;
  font-size: 3rem;
  margin: 5%;
}

.container
{
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family:'Press Start 2P';
  width: 50%;
  margin: auto;
}

.btn
{
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.red {
  background-color: rgb(136, 19, 19);
}

.green {
  background-color: rgb(2, 58, 2);
}

.blue {
  background-color: rgb(1, 99, 247);
}

.yellow {
  background-color: rgb(240, 216, 6);
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
